extends layout

block content
	#loader
		.loader
	#notify
		p Content
		input.btn.btn-primary.btn-sm(name='close', value='Close', type='button')
	#pick-icon
		#icon-images.col-xs-8.col-xs-offset-2
	#admin-settings
		p Admin Settings Coming Soon!
		// include admin-setings-admin.jade
	#users
		include admin-settings-user.jade
	#new-user-modal.modal.fade(tab-index='-1' role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button' data-dismiss='modal')
						span &times;
					h4.modal-title Add a new user
				.modal-body
					p Stuff
				.modal-footer
					button.btn.btn-danger(data-dismiss='modal') Close
					button.btn.btn-success Add User
	#edit-user-modal.modal.fade(tab-index='-1' role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button' data-dismiss='modal')
						span &times;
					h4.modal-title Edit User
				.modal-body
					.form-group.well#name
						p.centered-label Name
						.form-inline
							#first
								label First
								input.form-control(name='first-name', type='text')
							#last
								label Last
								input.form-control(name='last-name', type='text')
					.form-group
						button#reset-password.btn.btn-danger.btn-block Reset Password
					.form-group.well
						p.centered-label User Group
						input.form-control(name='group', type='text')
					.form-group.well
						p.text-center Icon
							.icon
								img#icon.center-block(src='/images/markers/Orange_marker.png', width='20px', height='34px')
								button#change-icon.btn.btn-primary.center-block Choose Icon
					.form-group
						#emergency-info.well
							p.text-center Emergency Contact Info
							br
							p.centered-label Name
							input.form-control(name='emergency_name', type='text')
							p.centered-label Phone Number
							input.form-control(name='emergency_phone', type='text')
							p.centered-label E-mail
							input.form-control(name='emergency_email', type='email')
				.modal-footer
					button.btn.btn-danger(data-dismiss='modal') Close
					button.btn.btn-success Save Changes
	#delete-user-modal.modal.fade(tab-index='-1' role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button' data-dismiss='modal')
						span &times;
					h4.modal-title Delete User
				.modal-body
					p WARNING!
					p Are you sure you want to delete this user? This action is permanent and cannot be undone.
					p All history of Check Ins for this user will also be removed
				.modal-footer
					button.btn.btn-primary(data-dismiss='modal') Close
					button.btn.btn-danger Delete User