extends user-layout

block content
	#topArea.col-sm-6.col-sm-offset-3.text-center
				#warning.alert.alert-warning.full-screen
				#success.alert.alert-success.full-screen Successfully submitted Check In!
				#inputs
					form(name='checkin-form', action='javascript:submitCheckIn()')
						.form-group
							.input-group
								span.input-group-addon
									i.glyphicon.glyphicon-time
								input#time.form-control(type='text', placeholder='Time', readonly)
						.form-group
							.input-group
								span.input-group-addon
									i.glyphicon.glyphicon-globe
								input#lat.form-control(type='text', placeholder='LAT', readonly)
						.form-group
							.input-group
								span.input-group-addon
									i.glyphicon.glyphicon-globe
								input#lng.form-control(type='text', placeholder='LNG', readonly)
						.form-group
							.input-group
								span.input-group-addon
									i.glyphicon.glyphicon-screenshot
								input#accuracy.form-control(type='text', placeholder='Accuracy', readonly)
						.form-group
							.input-group
								span.input-group-addon
									i.glyphicon.glyphicon-comment
								select#type.form-control(name="type")
									option(value='Check In') Check In
									option(value='Start') Start
									option(value='End') End
								input#message.form-control(type='text', placeholder='Message')
						.form-group
							input#submit-checkin.btn.btn-success.btn-block(type='submit', value='Check In', disabled='disabled')
				button.btn.btn-primary.btn-block(name='update') Update Location
			#map.col-sm-6.col-sm-offset-3