doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		title= "Tech Check Ins Error"
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/common.css')
		link(rel='stylesheet', href='/stylesheets/error.css')
	body
		nav.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand Tech Check Ins
		#errors
			h1 #{error.status} - #{message}
			pre #{error.stack}
	script(src='/javascripts/jquery.min.js')
	script(src='/javascripts/bootstrap.min.js')
	