extends layout

block content
	#notify
		p= "Refresh in "
			span 60 seconds
		input.btn.btn-danger(name='cancel', value='Cancel', type='button')
	#techList
		p= "Loading..."
	#map
	script(src='/javascripts/jquery.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src="/javascripts/mapscript.js")
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + MAPS_API_KEY + "&callback=initMap")
	
block time
	p#timeTop.time= "Last Update"
	p#currentTime.time= "Updating..."