doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name="mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		title= "Tech Check Ins " + title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/common.css')
		if title === 'Main' || title === 'History'
			link(rel='stylesheet', href='/stylesheets/style-panels.css')
		if title === 'Settings'
			if user.account_type === 'admin'
				link(rel='stylesheet', href='/stylesheets/admin-settings.css')
			if user.account_type === 'view'
				link(rel='stylesheet', href='/stylesheets/user-settings.css')
			link(rel='stylesheet', href='/stylesheets/loader.css')
			link(rel='stylesheet', href='/stylesheets/on-off-switch.css')
		link(rel='icon', sizes='128x128', href='/apple-touch-icon.png')
	body
		nav.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.settings(href='/app/settings')
						.glyphicon.glyphicon-cog(class=(title === 'Settings' ? 'active' : ''))
					.navbar-brand= "Logged in as " + user.username
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li(class=(title === 'Main' ? 'active' : ''))
							a(href='/app') Check Ins
						li(class=(title === 'History' ? 'active' : ''))
							a(href='/app/history') History
						li
							a(href='/admins/logout') Log Out
					ul.nav.navbar-nav.navbar-right
						if title === 'Main'
							p.navbar-rightside.navbar-rightside-top Last Update
							p#currentTime.navbar-rightside= "Updating..."
						if title === 'Settings' && user.account_type === 'admin'
							p.navbar-rightside.navbar-rightside-top Account Balance
							p#account-balance.navbar-rightside(class=(user.currentBalance < 0 ? 'negative' : ''))
								= "$ " + user.currentBalance.toFixed(2)
	script(src='/javascripts/moment.js')
	script(src='/javascripts/moment-timezone-data-2020.js')
	script(src='/javascripts/jquery.min.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/stayInWebApp.min.js')
	block content
	if title === 'Main' || title === 'History'
		script(src="https://maps.googleapis.com/maps/api/js?key=" + MAPS_API_KEY)
		script(src='/javascripts/mapscript.js')
	if title === 'Main'
		script(src='/javascripts/refresh.js')
	if title === 'History'
		script(src='/javascripts/history.js')
	if title === 'Settings'
		if user.account_type === 'admin'
			script(src='/javascripts/admin-settings.js')
		if user.account_type === 'view'
			script(src='/javascripts/user-settings.js')
	script.
		$(function() {
			$.stayInWebApp();
		});