extends layout

block content
	#loader
		.loader
	#notify
		p Content
		input.btn.btn-primary.btn-sm(name='close', value='Close', type='button')
	#admin-settings
		p Admin Settings Coming Soon!
		// include setings-admin.jade
	#users
		include settings-user.jade
	#new-user-modal.modal.fade(tab-index='-1' role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button' data-dismiss='modal')
						span &times;
					h4.modal-title Add a new user
				.modal-body
					p Stuff
				.modal-footer
					button.btn.btn-danger(data-dismiss='modal') Close
					button.btn.btn-success Add User
	#edit-user-modal.modal.fade(tab-index='-1' role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button' data-dismiss='modal')
						span &times;
					h4.modal-title Edit User
				.modal-body
					p Stuff
				.modal-footer
					button.btn.btn-danger(data-dismiss='modal') Close
					button.btn.btn-success Save Changes
	#delete-user-modal.modal.fade(tab-index='-1' role='dialog')
		.modal-dialog.modal-sm(role='document')
			.modal-content
				.modal-header
					button.close(type='button' data-dismiss='modal')
						span &times;
					h4.modal-title Delete User
				.modal-body
					p WARNING!
					p Are you sure you want to delete this user? This action is permanent and cannot be undone.
					p All history of Check Ins for this user will also be removed
				.modal-footer
					button.btn.btn-primary(data-dismiss='modal') Close
					button.btn.btn-danger Delete User
	script(type='text/javascript').
		var userData = !{JSON.stringify(userArray)};