body {
	padding-top: 55px;
}

.text-center {
	text-align: center;
}

.form-group {
	margin-bottom: 5px;
}

#map {
	height: 60%;
	border-radius: 10px;
}

.full-screen {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100000;
}

#success {
	display: none;
}

#topArea {
	height: 40%;
	min-height: 310px;
}