html, body {
	height: 100%;
	width: 100%;
 	font: 14px "Lato", sans-serif;
}

.settings {
    margin-top: 13px;
    float: left;
    font-size: 25px;
    margin-right: 7px;
    color: darkorange;
}

.navbar-rightside {
	padding: 0;
	margin: 0;
	text-align: center;
	color: white;
}

@media (min-width: 768px) {
	.navbar-rightside {
		text-align: left;
	}
}

.navbar-rightside-top {
	padding-top: 5px;
	text-align: center;
	margin-bottom: 3px;
}

#account-balance {
	text-align: center;
	font-size: large;
}
.settings:hover {
	color: darkorange;
	text-decoration: none;
}

.settings:focus {
	color: darkorange;
}

.settings .active {
	color: #337ab7;
}

.glyphicon-cog {
	cursor: pointer;
	transition: transform 500ms;
}

.glyphicon-cog:hover {
	transform: rotate(90deg);
}

.navbar-default {
	background: rgba(0, 0, 0, 0.7);
}

.navbar-default .navbar-brand {
	color: white;
	max-width: 225px;
	overflow: hidden;
}

@media (min-width: 451px) and (max-width: 767px) {
	.navbar-default .navbar-brand {
		max-width: 360px;
	}
}

@media (min-width: 500px) and (max-width: 767px) {
	.navbar-default .navbar-brand {
		max-width: 400px;
	}
}

@media (min-width: 560px) and (max-width: 767px) {
	.navbar-default .navbar-brand {
		max-width: 460px;
	}
}

@media (min-width: 650px) and (max-width: 767px) {
	.navbar-default .navbar-brand {
		max-width: 560px;
	}
}

@media (min-width: 992px) {
	.navbar-default .navbar-brand {
		max-width: 420px;
	}
}

@media (min-width: 1200px) {
	.navbar-default .navbar-brand {
		max-width: 620px;
	}
}

.navbar-default .navbar-brand:hover {
	color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.6)
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li > a:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.4)
}